<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="cn.zjut.wangjie.paperPushSystem.mapper.PaperInfoMapper">
	<resultMap type="paperInfo" id="paperInfoMap">
		<result column="paper_id" property="paperId"/>
		<result column="paper_url" property="paperUrl"/>
		<result column="article" property="article"/>
		<result column="authors" property="authors"/>
		<result column="paper_abstract" property="paperAbstract"/>
		<result column="has_pdf" property="hasPDF"/>
		<result column="pdf_url" property="pdfUrl"/>
		<result column="supp_pdf_url" property="suppPDFUrl"/>
		<result column='website' property='website'/>
		<result column='add_time' property='addTime'/>
		<result column="click" property="click"/>
	    <result column="pdf_file" property="pdfFile"/>
        <result column="supp_pdf_file" property="suppPDFFile"/>
    </resultMap>
    <insert id="addPaperInfo" parameterType="paperInfo">
        insert into paperinfo  values(null,#{paperUrl},#{article},#{authors},#{paperAbstract},#{hasPDF},#{pdfUrl},#{suppPDFUrl},#{website},now(),0,#{pdfFile},#{suppPDFFile})
    </insert>
	
	<select id="getPaperList" parameterType="pageDTO" resultMap="paperInfoMap">
	   select paper_id,paper_url,article,authors,paper_abstract,has_pdf,pdf_url,supp_pdf_url,website,click,pdf_file,supp_pdf_file from paperinfo where website=#{contentFlag} limit #{begin},#{pageSize}
	</select>
	
	<select id="countPaperByWebsite" parameterType="String" resultType="int">
	   select count(*) from paperinfo where website=#{flag}
	</select>
	
 </mapper>
